Response metrics P1/Code for Emax and EC50 derivations/Solving and simplifying_deprecated/
Leveraging mathematical models P2/Sensitivity/Sensitivity Analysis/IR.mat
Leveraging mathematical models P2/Sensitivity/Sensitivity Analysis/LSIFF_koff.mat
Leveraging mathematical models P2/Sensitivity/Sensitivity Analysis/SAC_koff.mat
Leveraging mathematical models P2/Identifiability/ZU EC50/ZUEC50.txt
